/* comment */

@import "~bootstrap-icons/font/bootstrap-icons.css";
nav a img {
    display: inline;
    width: 30px;
    height: 30px;
    margin: 0px;
}

.nav-link:hover {
    letter-spacing: 2px;
}

.container a {
    text-decoration: none;
}

.container a small:hover {
    font-weight: bold;
    letter-spacing: 2px;
    color: #039BE5 !important;
}