<!-- <nav class="navbar navbar-light bg-dark d-flex">
    <div class="container">
        <a class="navbar-brand" routerLink="../home">
            <img src="https://www.freepnglogos.com/uploads/twitter-logo-png/twitter-bird-symbols-png-logo-0.png" alt="Tweet-app-logo" class="d-inline-block align-text-top">
            <h2>TWEET APP</h2>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        <div class="collapse navbar-collapse">
            <li class="nav-item dropdown pe-5">
                <a class="nav-link " href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-menu-button-wide-fill"></i>
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#">Profile</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item">Logout</a></li>
                </ul>
            </li>
        </div>

    </div>
</nav> -->


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" routerLink="../home">
            <img src="https://www.freepnglogos.com/uploads/twitter-logo-png/twitter-bird-symbols-png-logo-0.png" alt="Tweet-app-logo" class="d-inline-block align-text-top">
            <h2>TWEET APP</h2>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav m-auto">
                <li class="nav-item mx-3">
                    <a class="nav-link h5" routerLink="../user">Users</a>
                </li>
                <li class="nav-item mx-3">
                    <a class="nav-link h5">Tweets</a>
                </li>

            </ul>
            <span class="navbar-text">
                <li class="nav-item dropdown pe-5">
                    <a class="nav-link " id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-menu-button-wide-fill"></i>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item text-dark" routerLink="./user-profile">Profile</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item text-dark" routerLink="../login">Logout</a></li>
                    </ul>
                </li>
        </span>
        </div>
    </div>
</nav>