<div class="wrapper">
    <div class="logo"> <img src="https://www.freepnglogos.com/uploads/twitter-logo-png/twitter-bird-symbols-png-logo-0.png" alt=" twitter-logo">
    </div>
    <div class="text-center mt-4 name"> Login </div>
    <form class="p-3 mt-3" #ForgotPasswordForm="ngForm">
        <div class="form-field d-flex flex-column align">
            <input class="custom-field" type="text" name="userEmail" id="userEmail" placeholder="Enter your Email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
            <!-- <div>
                <small class="text-danger">please enter email !!</small>
                <small class="text-danger">enter a valid email !!</small>
            </div> -->
        </div>

        <div class=" form-field d-flex flex-column">
            <input class="custom-field" type="password" name="password" id="password" placeholder="Enter your password" required>
            <small class="invalid-feedback">Enter New Password</small>
        </div>
        <div class=" form-field d-flex flex-column">
            <input class="custom-field" type="password" name="password" id="password" placeholder="Enter your password" required>
            <small class="invalid-feedback">Confirm your password</small>
        </div>
        <!-- <div class="text-danger errorMessage">Error Message</div> -->
        <button class="btn mt-3" [disabled]="ForgotPasswordForm.form.invalid">Update Password</button>
    </form>
    <div class="text-center fs-6 "> <a routerLink="../forgot-password">Forget password?</a> or <a routerLink="../register">Sign up</a> </div>
</div>