<div class="container">
    <div class="top-section d-flex justify-content-around me-2">
        <img src="https://w7.pngwing.com/pngs/340/946/png-transparent-avatar-user-computer-icons-software-developer-avatar-child-face-heroes-thumbnail.png" alt=" twitter-logo">
        <div class="text-center fw-bold mt-3 pe-5 align-self-center name"> Username </div>
    </div>
    <div class="mid-section d-flex ps-4 pe-4 mt-4">
        <p class="post-content text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur doloribus quas sed distinctio, magnam laborum natus, eligendi nisi laboriosam culpa eveniet labore rem eius illum iure. Laborum fuga consectetur, aperiam fugiat id reiciendis
            pariatur!
        </p>
    </div>
    <div class="bottom-section d-flex justify-content-around ps-4 mt-2">
        <span class="count_span"> {{ likes_count }} <i class="bi bi-heart"></i> </span>
        <span class="count_span"> {{ comments_count }} <i class="bi bi-chat-text"></i> </span>


    </div>
</div>